<div class="student">
    <div *ngIf="teacherService.isAddNew" class="student_list">
        <div class="header">
                <div class="title">
                    Teacher main details

                </div>
                <div class="option">

                        <button class="addbutton" (click)="teacherService.addnew()">
                            <span class="material-symbols-outlined"> add</span>
                            Add new
                        </button>
                </div>
        </div>

        <div class="list">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>dob</th>
                    <th>address</th>
                    <th>district</th>
                    <th>gender</th>
                    <th>contact no</th>
                    <th>option</th>
                </tr>
             
                <tr *ngFor="let item of teacherService.teacherList  let i = index">
                    <td>{{item.id}}</td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.dob}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.district}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.contact_no}}</td>
                    <td><button  class="button_alaign list_edit" (click)="teacherService.editTeacher(i)">Edit</button><button class="button_alaign list_delect" (click)="teacherService.deleteTeacher(i)">delete</button></td>
                </tr>
            </table>
        </div>
    </div>


    <div *ngIf="!teacherService.isAddNew" class="students__add__new">

        <div class="form__row1">
            <div class="form__data">
                <form>
                    <table class="add_table">
                        <tr>
                            <td><span>First Name: </span></td>
                            <td><input type="text" class="form__input" [(ngModel)]="teacherService.teacherObj.first_name" [ngModelOptions]="{standalone: true}"/></td>
                        </tr>
                        <tr>
                            <td><span>Last Name: </span></td>
                            <td><input type="text"  class="form__input"  [(ngModel)]="teacherService.teacherObj.last_name" [ngModelOptions]="{standalone: true}"/></td>
                        </tr>
                        <tr>
                            <td><span>DOB: </span></td>
                            <td><input type="date" class="form__input"  [(ngModel)]="teacherService.teacherObj.dob" [ngModelOptions]="{standalone: true}"/></td>
                        </tr>
                        <tr>
                            <td><span>Gender: </span></td>
                            <td>
                                <select class="form__input"  [(ngModel)]="teacherService.teacherObj.gender" [ngModelOptions]="{standalone: true}">
                                    <option [value]="null" [disabled]="true" [selected]="true">Select gender</option>
                                    <option *ngFor="let gender of mainService.genders" [value]="gender.list_vale">{{gender.list_vale}}</option>
                                    <!-- <option>Prefer not to say</option> -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Address: </span></td>
                            <td><textarea class="form__input"  [(ngModel)]="teacherService.teacherObj.address" [ngModelOptions]="{standalone: true}"></textarea></td>
                        </tr>
                        <tr>
                            <td><span>District: </span></td>
                            <td>
                                <select type="text" id="district" name="district" class="form__input" [(ngModel)]="teacherService.teacherObj.district" required>                      
                                    <option [value]="null" [disabled]="true" [selected]="true">Select district</option>   
                                    <!-- <option *ngFor="let district of dictricts" [value]="district.id">{{district.list_value}}</option> -->
                                    <option *ngFor="let district of mainService.dictricts" [value]="district.list_value">{{district.list_value}}</option>
                                  </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Contact No: </span></td>
                            <td><input type="text"  class="form__input" [(ngModel)]="teacherService.teacherObj.contact_no" [ngModelOptions]="{standalone: true}"/></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="form__img">
                <img src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg">
                <button>Add Picture</button>
            </div>

        </div>
        <div class="form__row2">
            <button class= "b1" (click)="teacherService.saveTeacher()">Save</button>
            <button class="b2">Cancel</button>
            <button class="b3"(click)="teacherService.addnew()">Close</button>
        </div>
</div>