<div class="left__pannel">
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">home</span>
        <span *ngIf="!mainService.isMinimized" class="home icon__textsize icon__padding" >home</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">boy</span>
        <span *ngIf="!mainService.isMinimized" class="Goods__main icon__textsize icon__padding">student</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">local_library</span>
        <span *ngIf="!mainService.isMinimized" class="login icon__textsize icon__padding">teacher</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">lab_profile</span>
        <span *ngIf="!mainService.isMinimized" class="logout icon__textsize icon__padding">exam & report</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">search</span>
        <span *ngIf="!mainService.isMinimized" class="search icon__textsize icon__padding">search</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined">fact_check</span>
        <span *ngIf="!mainService.isMinimized" class="nurse duty icon__textsize icon__padding">attendance</span>
    </div>
    <div class="left__main">
        <span class="material-symbols-outlined icon__size">settings</span>
        <span *ngIf="!mainService.isMinimized" class="settings icon__textsize icon__padding">settings</span>
    </div>

</div>

